
<%= provide(:title,"Sign up") %>
<h1 class="text-center">Signup</h1>
<h4 class="text-center">join us free</h4>
<div class="row">
  <div class="col-3">
  </div>
  <div class="col-6">
    <%= render "share/form", submit_name:"Submit" %>
  </div>
  <div class="col-3">
  </div>

</div>
