<% provide(:title, @user.name) %>
<div class="card" style="width: 18rem;">
  <div class="card-header">User-Information</div>
  <div class="card-body">
    <%= gravatar_for(@user, size: 200) %>
    <p class="card-text"><%= @user.name %></p>
    <p><%= @user.email %></p>
    
  </div>
</div>
