<%= provide(:title,"Create category") %>

<h1 class="text-center">Create category</h1>

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <%= render "form", submit_name:"Save" %>
    </div>
    <div class="col-3">
    </div>
</div>
